body {
  background-color: lightgray;
  background-image: url('https://microsoft.acehacker.com/engage2021/img/demo-content/images/logo-white.png');
  background-repeat: no-repeat;
  max-height: 80vh;

}
