
.BTN{
    margin-left: 600px;
    margin-top: 400px;

}
.enter-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1a6eff;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    width: 20%;
    margin-left: 30px;
}
.link-input{
    width: 20%;
}
.mute {
    color: black;
    background-color: wheat;
    height:60px;
    width: 90px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.unmute{

    background-color: red;
    height:60px;
    width: 90px;
    border-radius: 30px;

    margin-bottom: 10px;

}

  
.Container {
    padding: 20px;
    height: 40vh;
    width: 50vw;
    margin-left: 380px;
}
.vid-button{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

